body {
  overflow-y: hidden !important;
}

.md-datepicker-input { 
  color: #fff;
}

md-datepicker { 
 background-color: #3F51B5; 
}

/*
.ng-enter, .ng-move{
	-webkit-animation: fadeInLeft 1s;
	-moz-animation: fadeInLeft 1s;
	-o-animation: fadeInLeft 1s;
	animation: fadeInLeft 1s;
}

.ng-leave{
	-webkit-animation: fadeOutRight 1s;
	-moz-animation: fadeOutRight 1s;
	-o-animation: fadeOutRight 1s;
	animation: fadeOutRight 1s;
}
*/

.timer {
  background: #3F51B5;
  color: #fff;
}

.break {
  background: #DD2C00;
  color: #fff;
}
