<!doctype html>

<html lang="en" ng-app="timerApp">
<head>
  <meta charset="utf-8">

  <title>Timer</title>
  <meta name="description" content="The HTML5 Timer">
  <meta name="author" content="Timer">

  <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body layout="column"> 
  <md-toolbar ng-controller="HeaderCtrl">
    <div class="md-toolbar-tools">
      <h2>
        <span>Timer</span>
      </h2>
      <span flex></span>
      <span flex>Status: {{ connection_status }}</span>
      <md-datepicker ng-model="datePick" md-placeholder="Enter date" ng-change="setDate()" ></md-datepicker>
    </div>
  </md-toolbar>

  <md-toolbar class="md-primary md-hue-2 md-whiteframe-4dp" ng-init="selectedTab='home'">
    <div class="md-toolbar-tools">
    <md-button href="#/" ng-click="selectedTab='home'" ng-class="{'md-raised md-accent md-hue-3':selectedTab==='home'}"><i class="fa fa-home"></i> Home</md-button> 
    <md-button href="#/clocking" ng-click="selectedTab='clocking'" ng-class="{'md-raised md-accent md-hue-3':selectedTab==='clocking'}"><i class="fa fa-clock-o"></i> Clockings</md-button> 
    <md-button href="#/break" ng-click="selectedTab='break'" ng-class="{'md-raised md-accent md-hue-3':selectedTab==='break'}"><i class="fa fa-share"></i> Breaks</md-button> 
    <span flex></span>
    <md-button class="md-raised md-accent md-hue-3">Date Selected: {{selectedDate | date: 'mediumDate'}}</md-button> 
    </div>
  </md-toolbar>

  
  <md-content ng-cloak>
    <div ng-view></div>
  </md-content>

  <!-- Javascript Dependencies -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>

  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>

  <script src="bower_components/humanize-duration/humanize-duration.js"></script>
  <script src="bower_components/momentjs/moment.js"></script>
  <script src="bower_components/angular-timer/dist/angular-timer.js"></script>

  <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/config.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</body>
</html>
