  <div layout="row" ng-repeat="block in times | orderBy: 'employeeName' | chunkBy: 4">
  <md-card flex ng-repeat="(key, value) in block " ng-show="value.timeOut" class="break">
    <img ng-show="{{getEmployee(value.employeeName) }}"ng-src="img/{{getEmployee(value.employeeName).img_src}}" class="md-card-image" alt="Washed Out">
    <img ng-show="{{getEmployee(value.employeeName)}} === undefined" ng-src="img/empty_avatar.png" class="md-card-image" alt="Washed Out">
    <md-content-card>
      <center>
        <h2>{{ value.employeeName }}</h2>
        <p class="md-subhead">Break In At:<br> {{ value.inDate | date: 'medium' }}</p>
        <p class="md-subhead">Break Out At:<br> {{ value.outDate | date: 'medium' }}</p>
  
      <h2>Total Time</h2>
      <p class="md-subhead">Hours: {{ value.hours }} Minutes: {{ value.minutes }} Seconds: {{ value.seconds }}</p>
      </center>
    </md-content-card>
  </md-card>
  </div>

