  <md-card class="md-padding">
    <md-content-card>
    <form novalidate name="timerForm">
    <md-input-container>
      <label>Employee</label>
      <md-select ng-model="employeeName"required>
        <md-option ng-repeat="employee in employees" value="{{employee.name}}" >
          {{employee.employee_id }} - {{employee.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <center>
    <md-button class="md-raised md-primary md-hue-2" ng-click="startTimer('TimeIn')"><i class="fa fa-clock-o"></i> Time In</md-button>
    <md-button class="md-raised md-accent md-hue-2" ng-click="startTimer('Break')"><i class="fa fa-share"></i> Break</md-button>
    </center>
    </form>
    </md-content-card>
  </md-card>
  
  <div layout="row" ng-repeat="block in times | orderBy: 'employeeName' | chunkBy: 4">
  <md-card flex ng-repeat="(key, value) in block" ng-hide="value.timeOut" ng-class="{'timer': value.type == 'TimeIn', 'break': value.type == 'Break'}" >
    <img ng-show="{{getEmployee(value.employeeName) }}"ng-src="img/{{getEmployee(value.employeeName).img_src}}" class="md-card-image" alt="Washed Out">
    <img ng-show="{{getEmployee(value.employeeName)}} === undefined" ng-src="img/empty_avatar.png" class="md-card-image" alt="Washed Out">
    <md-card-actions layout="column" layout-align="start">
      <md-button class="md-raised md-primary md-hue-2" layout-align="center center" ng-click="stopTimer(value.$id)" ng-show="value.type == 'TimeIn'"><i class="fa fa-clock-o"></i> Time Out</md-button>
      <md-button class="md-raised md-accent md-hue-2" layout-align="center center" ng-click="stopTimer(value.$id)" ng-show="value.type == 'Break'"><i class="fa fa-share"></i> Break Out</md-button>
    </md-card-actions>
    <md-card-title>
      <md-card-title-text>
        <center>
        <span class="md-headline">{{ value.employeeName }}</span>
        </center>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <center>
      <p>{{ value.type | uppercase }} In At: {{ value.inDate | date: 'medium' }}</p>
      <p><u><timer interval="1000" start-time="value.inDate">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></u></p>
      </center>
    </md-card-content>
  </md-card>
  </div>

